* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(246 248 249);
}

header {
    height: 90px;
    background-color: white;
    line-height: 90px;
}

#logo-title {
    display: inline;
    font-weight: 900;
    font-size: 3em;
    vertical-align: middle;
}

#logo {
    vertical-align: middle;
    width: 60px;
    margin-left: 20px;
}


#button-add {
    background-color: white;
    height: 60px;
    width: 50%;
    margin: 40px auto 3px auto;
    border-radius: 5px;
    line-height: 60px;
}

.add {
    height: 35px;
    vertical-align: middle;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 8px;
}

.add.task {
    margin-left: 30px;
    background-color: rgb(30 144 255);
    color: white;
    border: 1px solid rgb(30 144 255);
}

.add.section {
    background-color: white;
    color: gray;
    border: 1px solid rgb(128 128 128);
}

#main-container {
    background-color: white;
    height: 680px;
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
    padding-left: 30px;
    padding-top: 50px;
}


.triangle {
    font-size: 13px;
    line-height: 1.5em;
    vertical-align: middle;
}

ul {
    list-style-position: inside;
    list-style-type: none;
    margin-bottom: 40px;
}

li {
    margin-top: 30px;
}

.bulleted-list {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
    font-size: 14px;
}

.check {
    color: green;
}

.cross {
    color: red;
}

.label {
    font-size: 13px;
    border-radius: 10px;
    padding: 5px 10px;
}

.editorial {
    background-color: rgb(69 171 234);
}

.q1-goals {
    background-color: rgb(156 114 228);
}

.recruting {
    background-color: rgb(100 192 169);
}

.mobile {
    background-color: rgb(242 158 51);
}

.website {
    background-color: rgb(216 99 161);
}

.sales {
    background-color: rgb(176 201 38);
}

.editorial-review {
    background-color: rgb(242 158 51);
}
